@media screen and (max-width: 768px) {
    .detail-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 0.5rem;
    }

    .detail-container > h1 {
        color: black;
    }
    
    .detail-container > img {
        width: 50%;
    }

    .detail-container > p {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}