{% extends 'base.html' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
<body1>
 <form method="post">

 <div class="wrapper">
   <form action="">
     <h1>Se Connecter</h1>
     <div class="input-box">
         {{ form.as_p }}
         {% csrf_token %}
     </div>



     <div class="remember-forgot">
       <label><input type="checkbox">Remeber me </label>
       <a href="#">Forgot password?</a>
     </div>
     <button type="submit" class="btn">Connexion</button>

     <div class="register-link">
       <p>don't have an account <a href="{% url 'password_reset' %}">Register</a></p>
     </div>
   </form>
 </div>
</form>
</body1>
{% endblock %}