{% extends "base.html" %}

{% block title %}Entrez un nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}
<head>
    <title>Changement de mot de passe</title>
    </head>

<h2>Entrez votre nouveau mot de passe</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>Votre lien est invalide parce qu'il a déjà été utilisé, veuillez soumettre une nouvelle demande de changement de mot de passe</p>

{% endif %}
{% endblock %}