{% extends "base.html" %}

{% block content %}
<head>
    <title>Page d'accueil</title>
</head>
<main>
    <h2>Bienvenue dans le monde des anime et manga</h2>
    <p class="description">Découvrez les dernières actualités, les meilleures séries, et plus encore !</p>
    <section class="api-data">
        <div class="image-container">
            {% for item in extracted_data %}
              <div id="anime-container">
                <h3 class="anime-title">{{ item.title }}</h3>
                <a class="anime-link" href="{% url 'detail' item.id %}">
                <img class="anime-image" src="{{ item.img }}" alt="Image">
                </a>
                {% if user.is_authenticated %}
                <form>
                  {% csrf_token %}
                  {% if item.existe_deja == True %}
                  <button class="remove-favoris-button" data-anime-id="{{ item.id }}">Supprimer des favoris</button>
                  {% endif %}
                  {% if item.existe_deja != True %}
                  <button class="favoris-button" data-anime-id="{{ item.id }}">Ajouter aux favoris</button>
                  {% endif %}
              </form>
              {% endif %}
              </div>
            {% endfor %}
          </div>

          <div class="result-container hidden">
          </div>
          
    </section>
</main>


{%load static%}
<script src="{% static 'js/accueil.js' %}"></script>
{% endblock %}