{% extends "base.html" %}

{% block content %}
<head>
    <title>Page d'accueil</title>
</head>
<main>
    <h2>Bienvenue dans le monde des anime et manga</h2>
    <p class="description">Découvrez les dernières actualités, les meilleures séries, et plus encore !</p>
    <a href="#" class="cta-button">Commencer</a>
    <section class="api-data">
        <h3>Données de l'API</h3>
        <div class="image-container">
            {% for item in extracted_data %}
              <div>
                <img src="{{ item.img }}" alt="Image">
              </div>
              <br>
              <div>{{ item.slug }}</div>
              <br>
            {% endfor %}
          </div>
          
    </section>
</main>
{% endblock %}