<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accueil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <nav>
        <ul class="menu">
            <!--<li><img src="{% static 'image/logo.png' %}"/>-->
            </li>
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Personnages</a></li>
            <li><a href="#">Anime</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Rechercher...">
            <button type="submit">Rechercher</button>
        </div>
        <div class="profile" id="profile">
            <img src=logo_noir_blanc.png alt="Photo de profil">
            {% block content %}
            {% if user.is_authenticated %}
            {{ user.username }}
            {% else %}
            <p>You are not logged in</p>
            {% endif %}
        </div>
        <div class="profile-menu" id="profileMenu">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
                {% endblock %}
                <li><a href="#">Favoris</a></li>
                <li><a href="#">Paramètres</a></li>
                <li><a href="#">Informations du profil</a></li>
            </ul>
        </div>
    </nav>
</header>




<main>
    <h2>Bienvenue dans le monde des anime et manga</h2>
    <p class="description">Découvrez les dernières actualités, les meilleures séries, et plus encore !</p>
    <a href="#" class="cta-button">Commencer</a>
    <section class="api-data">
        <h3>Données de l'API</h3>
        <div class="image-container">
            {% for item in extracted_data %}
              <div>
                <img src="{{ item.img }}" alt="Image">
              </div>
              <br>
              <div>{{ item.slug }}</div>
              <br>
            {% endfor %}
          </div>
          
    </section>
</main>

<script src="{% static 'js/accueil.js' %}"></script>
</body>
</html>
